h1,
h2,
h3,
p,
a,
button,
input,
label {
  font-family: 'Source Sans Pro';
  padding: 0;
  color: #fff;
  text-decoration: none;
}
body {
  background: linear-gradient(#9c27b0, #3f51b5);
  background-attachment: fixed;
  margin: 0;
}
.content {
  max-width: 1080px;
  margin: 0 auto;
}
/*========================================================================
  Header
/*=======================================================================*/
.headerBox {
  width: 100%;
  margin: 25px 0px;
}
.headerBox .headerTitle {
  text-transform: uppercase;
  font-family: 'Black Han Sans';
  font-weight: bold;
  text-align: center;
  font-size: 44px;
  color: #fff;
}
/* Page title */
.titleBox {
  width: 100%;
  margin: 24px 0;
}
.titleBox .pageTitle {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-align: center;
}

/*========================================================================
  Aanmelden
/*=======================================================================*/


/*========================================================================
  Beheerderpaneel
/*=======================================================================*/
.createBox {
  width: max-content;
  margin: 0 auto;
  margin-top: 38px
}
.creatingBox {
  width: max-content;
  margin: 0 auto;
  display: none;
}
.creatingBox h2 {
  text-align: center;
}
form .inputField {
  text-align: center;
  color: #000;
  font-size: 16px;
  padding: 6px 0px;
  margin-bottom: 20px;
  width: 240px;
  display: block; /*///////*/
  margin: 12px auto;
}
input[type="checkbox"] {
  border-radius: 18px;
}
.buttonForm {
  cursor: pointer;
  margin: 20px 0px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  background-color: transparent;
}
body Form .extra {
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  text-align: left !important;
}
.createBox .createSPT {
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*========================================================================
  Inloggen & Registreren form
/*=======================================================================*/
form {
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
}
::placeholder{
  color: gray
}
.login-register-btn {
  background-color: transparent;
  color: white;
  padding: 10px 80px;
  font-size: 16px;
  border-style: solid;
  border-radius: 80px;
  cursor: pointer
}
.login-register-form {
  padding: 10px 40px;
  color: black;
}
.login-register-btn:hover {
  background: white;
  color: transparent;
  color: #5248b3;
}

