h1,
h2,
h3,
p,
a,
span,
button,
input,
label {
  font-family: 'Source Sans Pro';
  padding: 0;
  color: #fff;
  text-decoration: none;
  word-wrap: break-word;
}
span {
  font-weight: bold;
}
textarea {
  resize: none;
}
body {
  background: linear-gradient(#9c27b0, #3f51b5);
  background-attachment: fixed;
  margin: 0;
}
.content {
  max-width: 1080px;
  margin: 0 auto;
}
/*========================================================================
  Header
/*=======================================================================*/
.headerBox {
  width: 100%;
  margin: 25px 0px;
}
.headerBox .headerTitle {
  text-transform: uppercase;
  font-family: 'Black Han Sans';
  font-weight: bold;
  text-align: center;
  font-size: 44px;
  color: #fff;
}
/* Page title */
.titleBox {
  width: 100%;
  margin: 24px 0;
}
.titleBox .pageTitle {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-align: center;
}

/*========================================================================
  Aanmelden
/*=======================================================================*/


/*========================================================================
  Beheerderpaneel
/*=======================================================================*/
.speurtochtenBox {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: max-content;
  margin: 0 auto;
}
.speurtochtenBox .speurtocht {
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  margin-bottom: 12px;
}
.createBox {
  width: max-content;
  margin: 0 auto;
  margin-top: 38px
}
.creatingBox {
  width: max-content;
  margin: 0 auto;
  display: none;
}
.creatingBox h2 {
  text-align: center;
}
.inputField {
  padding: 5px;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
  border-radius: 6px;
}
form .inputField1 {
  text-align: center;
  color: #000;
  font-size: 16px;
  padding: 6px 0px;
  margin-bottom: 20px;
  width: 240px;
  display: block; /*///////*/
  margin: 12px auto;
}

.buttonForm {
  cursor: pointer;
  margin: 20px 0px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  background-color: transparent;
}
.createBox .createSPT {
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/*========================================================================
  Speurtochtpaneel
/*=======================================================================*/
.backButton {
  width: max-content;
  margin: 0 auto;
  right: 7em;
  top: 3.1em;
  position: relative;
  cursor: pointer;
  display: none;
}
.backButton2 {
  width: max-content;
  margin: 0 auto;
  right: 7em;
  top: 3.1em;
  position: relative;
  cursor: pointer;
  display: block;
}
.backButton i,
.backButton2 i {
  font-weight: bold;
  font-size: 28px;
  color: #fff;
}
.speurtochtenBoxMenu {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.speurtochtenBoxMenu .speurtocht {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  margin: 6px;
  text-align: center;
}
.speurtochtStarten,
.speurtochtAanpassen,
.speurtochtControle,
.eindresultatenBekijken,
.deelnemersVerwijderen,
.speurtochtVerwijderen {
  display: none;
}
.speurtochtAanpassen {
  max-width: 50%;
  margin: 0 auto;
}
.speurtochtAanpassen h2,
.speurtochtStarten h2,
.speurtochtControle h2,
.speurtochtAanpassen input,
.speurtochtAanpassen label,
.speurtochtTitel {
  text-align: center;
}
.speurtochtTitel {
  width: 50%;
  margin: 20px auto;
}
.speurtochtAanpassen label {
  margin: 10px 10px 10px 0px;
}
/* AANPASSEN */
input[type="checkbox"] {
  border-radius: 18px;
  margin: 10px 5px 10px 5px;
}
.extraField {
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  margin: 0 auto;/* */
  display: block;/* !!!!!! */
  width: max-content;/* */
}
.extraQuestions {
  margin: 26px 0px 0px 0px;
}
.editSpeurtocht {
  text-align: center;
  color: #000;
  font-size: 16px;
  padding: 6px 0px;
  width: 240px;
  display: block;
  margin: 12px auto;
  border-bottom: 2px solid #fff;
}
.update::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 240px;
  height: 4px;
  display: block;
  top: 43px;
  left: -80px;
}
.update {
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  position: relative;
}
#editQuestion {
  margin: 36px 0px;
}
/*========================================================================
  Check answers
/*=======================================================================*/
.questionBox {
  margin: 0 auto;
  width: 60%;
}
.questionBox .item {
  margin: 10px 0px;
}
.questionBox .question {
  font-size: 18px;
  text-align: center;
}
.questionBox .player {
  margin-top: 22px;
  text-align: center;
}
.questionBox .awnser {
  display: block;
  margin: 0 auto;
}
.question span {
  font-size: 22px;
}
.singleQuestion {
  border: 3px solid #fff;
  border-radius: 8px;
  margin: 14px 0px;
  padding: 8px;
}
.check {
  font-weight: bold;
  font-size: 16px;
  background: green;
  padding: 4px 10px;
  margin: 5px 6px 0px 5px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
.check.wrong {
  background-color: red;
}
/*========================================================================
  Inloggen & Registreren form
/*=======================================================================*/
form {
  margin: 0 auto;
  margin-top: 24px;
  color: white;
  text-align: center;
}
::placeholder{
  color: gray
}
.login-register-btn {
  background-color: transparent;
  color: white;
  padding: 10px 80px;
  font-size: 16px;
  border-style: solid;
  border-radius: 80px;
  cursor: pointer
}
.login-register-form {
  padding: 10px 40px;
  color: black;
}
.login-register-btn:hover {
  background: white;
  color: transparent;
  color: #5248b3;
}
/*========================================================================
  Scorebord
/*=======================================================================*/
.\31 th{
  color: gold
}
.\32 th{
  color: #C0C0C0
}
.\33 th{
  color: #cd7f32
}
.losers {
  color: #fff;
}
.scoreboard {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Black Han Sans';
}
#wrapper {
  border: 3px solid white;
  margin: 0 auto;
  width: auto;
  border-radius: 10px;
  background-color: #fff0;
}
#sc1 {
  display: inline-block;
  width:60%;
  height:120px;
}
#sc2 {
  display: inline-block;
  width:25%;
  height:160px;
}
/*========================================================================
  Pop-ups
/*=======================================================================*/
