h1,
h2,
h3,
p,
a,
button,
input,
label {
  font-family: 'Source Sans Pro';
  padding: 0;
  color: #fff;
  text-decoration: none;
}
textarea {
  resize: none;
}
body {
  background: linear-gradient(#9c27b0, #3f51b5);
  background-attachment: fixed;
  margin: 0;
}
.content {
  max-width: 1080px;
  margin: 0 auto;
}
/*========================================================================
  Header
/*=======================================================================*/
.headerBox {
  width: 100%;
  margin: 25px 0px;
}
.headerBox .headerTitle {
  text-transform: uppercase;
  font-family: 'Black Han Sans';
  font-weight: bold;
  text-align: center;
  font-size: 44px;
  color: #fff;
}
/* Page title */
.titleBox {
  width: 100%;
  margin: 24px 0;
}
.titleBox .pageTitle {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-align: center;
}

/*========================================================================
  Aanmelden
/*=======================================================================*/


/*========================================================================
  Beheerderpaneel
/*=======================================================================*/
.speurtochtenBox {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: max-content;
  margin: 0 auto;
}
.speurtochtenBox .speurtocht {
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  margin-bottom: 12px;
}
.createBox {
  width: max-content;
  margin: 0 auto;
  margin-top: 38px
}
.creatingBox {
  width: max-content;
  margin: 0 auto;
  display: none;
}
.creatingBox h2 {
  text-align: center;
}
.inputField {
  padding: 5px;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
  border-radius: 6px;
}
form .inputField1 {
  text-align: center;
  color: #000;
  font-size: 16px;
  padding: 6px 0px;
  margin-bottom: 20px;
  width: 240px;
  display: block; /*///////*/
  margin: 12px auto;
}

.buttonForm {
  cursor: pointer;
  margin: 20px 0px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  background-color: transparent;
}
.createBox .createSPT {
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/*========================================================================
  Speurtochtpaneel
/*=======================================================================*/
.speurtochtenBoxMenu {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.speurtochtenBoxMenu .speurtocht {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  margin: 6px;
  text-align: center;
}
.speurtochtStarten,
.speurtochtAanpassen,
.ResultatenNakijken,
.eindresultatenBekijken,
.deelnemersVerwijderen,
.speurtochtVerwijderen {
  display: none;
}
.speurtochtAanpassen {
  max-width: 50%;
  margin: 0 auto;
}
.speurtochtAanpassen h2,
.speurtochtAanpassen input,
.speurtochtAanpassen label,
.speurtochtTitel {
  text-align: center;
}
.speurtochtAanpassen label {
  margin: 10px 10px 10px 0px;
}
/* AANPASSEN */
input[type="checkbox"] {
  border-radius: 18px;
  margin: 10px 5px 10px 5px;
}
.extraField {
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  margin: 0 auto;/* */
  display: block;/* !!!!!! */
  width: max-content;/* */
}
.extraQuestions {
  margin: 26px 0px 0px 0px;
}
.editSpeurtocht {
  text-align: center;
  color: #000;
  font-size: 16px;
  padding: 6px 0px;
  width: 240px;
  display: block;
  margin: 12px auto;
  border-bottom: 2px solid #fff;
}
.update {
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 18px;
  padding: 5px 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}
/*========================================================================
  Inloggen & Registreren form
/*=======================================================================*/
form {
  margin: 0 auto;
  margin-top: 14px;
  color: white;
  text-align: center;
}
::placeholder{
  color: gray
}
.login-register-btn {
  background-color: transparent;
  color: white;
  padding: 10px 80px;
  font-size: 16px;
  border-style: solid;
  border-radius: 80px;
  cursor: pointer
}
.login-register-form {
  padding: 10px 40px;
  color: black;
}
.login-register-btn:hover {
  background: white;
  color: transparent;
  color: #5248b3;
}

